<div class="channel" (click)="onChannelClicked(channel)">
    <div class="channel-voice" *ngIf="channel.type == 0">
        <div class="row">
            <div class="col-1">
                <i class="fa-solid fa-microphone"></i>
            </div>
            
            <div class="col">
                {{ channel.name }}
            </div>

            <div class="col-2" *ngIf="channel.persons != null">
                <div class="capsule-length">
                    {{ channel.persons.length }}
                </div>
            </div>
        </div>
    </div>

    <div class="channel-text" *ngIf="channel.type == 1">
        <div class="row">
            <div class="col-1">
                #
            </div>

            <div class="col">
                {{ channel.name }}
            </div>

            <div class="col-2" *ngIf="channel.persons != null">
                <div class="capsule-length">
                    {{ channel.persons.length }}
                </div>
            </div>
        </div>
    </div>
</div>